In [11]:
import os
import pandas as pd

# Path to your folder containing the CSV files
folder_path = 'ClimateData'

# List all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Initialize an empty DataFrame
combined_df = pd.DataFrame()

# Loop through each file and append it to the combined DataFrame
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    combined_df = pd.concat([combined_df, df], ignore_index=True)

# Save the combined DataFrame to a new CSV file
output_file = 'combined_data.csv'
combined_df.to_csv(output_file, index=False)

print(f"All files have been combined into {output_file}")

C:\Users\Matin\AppData\Local\Temp\ipykernel_59292\3361565934.py:16: DtypeWarning: Columns (0,1,2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

All files have been combined into combined_data.csv

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import numpy as np

# Load the data, ensuring that no column is used as the index
file_path = 'combined_data.csv'  # Replace with the correct path to your file
columns = ['LAT', 'LON', 'YEAR', 'DOY', 'Temp', 'Humidity', 'Precipitation']
data = pd.read_csv(file_path, usecols=range(len(columns)), names=columns, skiprows=1)
# data = pd.read_csv(file_path, index_col=None)  # Ensure index_col is set to None
data

           LAT     LON    YEAR    DOY   Temp  Humidity  Precipitation
0        24.75 -124.75  2022.0    1.0  17.85     74.01           1.87
1        24.75 -124.25  2022.0    1.0  17.90     73.76           1.82
2        24.75 -123.75  2022.0    1.0  17.95     72.66           2.11
3        24.75 -123.25  2022.0    1.0  17.93     72.66           2.88
4        24.75 -122.75  2022.0    1.0  17.77     73.48           4.31
...        ...     ...     ...    ...    ...       ...            ...
1970995  44.25  -87.25  2022.0  365.0  -0.88     80.89           0.43
1970996  44.25  -86.75  2022.0  365.0   0.67     79.41           0.32
1970997  44.25  -86.25  2022.0  365.0   0.39     82.81           0.20
1970998  44.25  -85.75  2022.0  365.0  -0.74     87.56           0.10
1970999  44.25  -85.25  2022.0  365.0  -1.06     90.34           0.07

[1971000 rows x 7 columns]

In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import numpy as np

# Define the correct headers
columns = ['LAT', 'LON', 'YEAR', 'DOY', 'Temp', 'Humidity', 'Precipitation']

# Load the CSV, specifying only the columns we want to use
file_path = 'combined_data.csv'  # Replace with the correct path to your file
data = pd.read_csv(file_path, usecols=range(len(columns)), names=columns, skiprows=1)

# Pivot the data to create a grid for each day
data_pivot = data.pivot_table(index='LAT', columns='LON', values='Temp', aggfunc='mean')

# Extract unique days of the year
days_of_year = data['DOY'].unique()


days_of_year

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100., 101., 102., 103., 104., 105., 106., 107., 108., 109., 110.,
       111., 112., 113., 114., 115., 116., 117., 118., 119., 120., 121.,
       122., 123., 124., 125., 126., 127., 128., 129., 130., 131., 132.,
       133., 134., 135., 136., 137., 138., 139., 140., 141., 142., 143.,
       144., 145., 146., 147., 148., 149., 150., 151., 152., 153., 154.,
       155., 156., 157., 158., 159., 160., 161., 162., 163., 164., 165.,
       166., 167., 168., 169., 170., 171., 172., 173., 174., 175., 176.,
       177., 178., 179., 180., 181., 182., 183., 184., 185., 186., 187.,
       188., 189., 190., 191., 192., 193., 194., 195., 196., 197., 198.,
       199., 200., 201., 202., 203., 204., 205., 206., 207., 208., 209.,
       210., 211., 212., 213., 214., 215., 216., 217., 218., 219., 220.,
       221., 222., 223., 224., 225., 226., 227., 228., 229., 230., 231.,
       232., 233., 234., 235., 236., 237., 238., 239., 240., 241., 242.,
       243., 244., 245., 246., 247., 248., 249., 250., 251., 252., 253.,
       254., 255., 256., 257., 258., 259., 260., 261., 262., 263., 264.,
       265., 266., 267., 268., 269., 270., 271., 272., 273., 274., 275.,
       276., 277., 278., 279., 280., 281., 282., 283., 284., 285., 286.,
       287., 288., 289., 290., 291., 292., 293., 294., 295., 296., 297.,
       298., 299., 300., 301., 302., 303., 304., 305., 306., 307., 308.,
       309., 310., 311., 312., 313., 314., 315., 316., 317., 318., 319.,
       320., 321., 322., 323., 324., 325., 326., 327., 328., 329., 330.,
       331., 332., 333., 334., 335., 336., 337., 338., 339., 340., 341.,
       342., 343., 344., 345., 346., 347., 348., 349., 350., 351., 352.,
       353., 354., 355., 356., 357., 358., 359., 360., 361., 362., 363.,
       364., 365.])